<launch>
  <arg name="vehicleHeight" default="1.5"/>         # 代表机器人的总体高度，任何高度差超过机器人高度的点都被视为无效点
  <arg name="minRelZ" default="-1.5"/>              # 用于第一步过滤，这个范围通常会比vehicleHeight大
  <arg name="maxRelZ" default="0.5"/>
  <arg name="noDataObstacle" default="true"/>
  <arg name="noDecayDis" default="0.0"/>    
  <arg name="planarVoxelSize" default="0.2"/>       # 原值0.2，代表评估地面高度时，最小评估体素格的分辨率，值越小，评估颗粒度也越小

  <arg name="noDataAreaMinX" default="0.3"/>
  <arg name="noDataAreaMaxX" default="1.8"/>
  <arg name="noDataAreaMinY" default="-0.9"/>
  <arg name="noDataAreaMaxY" default="0.9"/>
  <arg name="maxElevBelowVeh" default="-0.6"/>      # 无点云区域的高度阈值，低于这个高度的点云被认为是无效点
  <arg name="minBlockPointNum" default="10"/>       # 体素内点云数量阈值，低于这个数量的体素被认为是无效点
  <arg name="maxBlockPointNum" default="0"/>        # 最大体素点云数量阈值，大于这个数量的体素被认为是无效点
  <arg name="terrainMinPointNum" default="10"/>     # 地形可靠性判断的点云数量阈值，低于这个数量的体素被认为是无效点

  <node pkg="terrain_analysis" exec="terrainAnalysis" name="terrainAnalysis" output="screen">
    <param name="scanVoxelSize" value="0.05" />
    <param name="decayTime" value="2.0" />
    <param name="noDecayDis" value="$(var noDecayDis)" />           # 原值0.0,移动距离要大于这个距离，才会启动noDataObstacle判断
    <param name="clearingDis" value="8.0" />
    <param name="useSorting" value="true" />
    <param name="quantileZ" value="0.25" />
    <param name="considerDrop" value="false" />
    <param name="limitGroundLift" value="false" />      # 是否限制地面高度差，以应对高度变化剧烈的路面
    <param name="maxGroundLift" value="0.15" />         # 如果limitGroundLift=true启用
    <param name="clearDyObs" value="false" />           # 是否清除动态障碍物
    <param name="minDyObsDis" value="0.3" />
    <param name="minDyObsAngle" value="0.0" />
    <param name="minDyObsRelZ" value="-0.3" />
    <param name="absDyObsRelZThre" value="0.2" />
    <param name="minDyObsVFOV" value="-16.0" />
    <param name="maxDyObsVFOV" value="16.0" />
    <param name="minDyObsPointNum" value="1" />
    <param name="noDataObstacle" value="$(var noDataObstacle)" />            # 是否把无点云的位置定义为障碍物（如向下楼梯，坑洞）     
    <param name="noDataBlockSkipNum" value="0" />
    <param name="minBlockPointNum" value="$(var minBlockPointNum)" />
    <param name="terrainMinPointNum" value="$(var terrainMinPointNum)" />
    <param name="maxBlockPointNum" value="$(var maxBlockPointNum)" />
    <param name="maxElevBelowVeh" value="$(var maxElevBelowVeh)" />
    <param name="noDataAreaMinX" value="$(var noDataAreaMinX)" />                             # 以机器人中心为原点
    <param name="noDataAreaMaxX" value="$(var noDataAreaMaxX)" />
    <param name="noDataAreaMinY" value="$(var noDataAreaMinY)" />
    <param name="noDataAreaMaxY" value="$(var noDataAreaMaxY)" />
    <param name="vehicleHeight" value="$(var vehicleHeight)" />               # 小于这个高度的点云，才会被认为是有效地形点 原值1.5 
    <param name="voxelPointUpdateThre" value="100" />
    <param name="voxelTimeUpdateThre" value="2.0" />
    <param name="minRelZ" value="$(var minRelZ)" />                   # 以机器人（odom)中心为起点，点云处理的最小高度，原值-1.5
    <param name="maxRelZ" value="$(var maxRelZ)" />                    # 以机器人中心起点，点云处理的最大高度，原值0.5
    <param name="disRatioZ" value="0.2" />
    <param name="planarVoxelSize" value="$(var planarVoxelSize)" />


  </node>

</launch>
